
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    width: 600px;
    margin: 0 auto;
    padding: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.Inloggning {
    margin-top: 70px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

button[type="submit"] {
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}



.header {
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /*background-color: rgb(173, 216, 230);*/
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}
